/* --- 6_contact.css --- */
.contact {
    padding: 60px 0;
    background-color: var(--color-primary-light);
}

.contact-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 40px;
}

.contact-info p {
    margin-bottom: 15px;
}
.contact-info .section-title {
    text-align: left;
}

.contact-details {
    margin-top: 20px;
}
.contact-details p {
    font-size: 0.9rem;
}
.contact-details a {
    text-decoration: underline;
}
.contact-details a:hover {
    color: var(--color-primary);
}

.contact-form-wrapper {
    background-size: cover;
    background-position: center;
    background-color: var(--color-white); /* Fallback */
    border-radius: 10px;
    padding: 40px;
    border: 1px solid var(--color-border);
}

.form-group {
    margin-bottom: 20px;
}

.form-group input,
.form-group textarea {
    width: 100%;
    padding: 15px;
    border-radius: 5px;
    font-family: inherit;
    font-size: 1rem;
    
    /* З дизайну (Page 5) */
    background: transparent;
    border: none;
    border-bottom: 1px solid var(--color-text-light);
    color: var(--color-dark);
}

.form-group input::placeholder,
.form-group textarea::placeholder {
    color: var(--color-text-light);
}

.contact-form .cta-btn {
    width: 100%;
    padding: 15px;
}